.contact-global-container{
    background-image: url("../assets/Groupcontact.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 60px;
}
.contact{
    width: 400px;
    align-self: flex-end;
    justify-self: baseline;
}

.contact-wrapper{
    align-self: flex-start;
    justify-self: baseline;
}

.contact-wrapper h6{
    padding: 10px 0px 10px 0px;
    color: #9D5FE5;
}

.contact-wrapper h5{
    color: #464277;
}

@media screen and (max-width: 762px) {
    .contact{
       display: none;
    }
}

@media screen and (max-width: 1140px) {
    .contact-global-container{
        background-size: 300vh;
    }
}