.metodo-wrapper{
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.metodologia{
    padding-top: 150px;
}

.subtitle{
    color: #464277;
   font-weight: bold;
}

.text-mtd {
    text-align: justify;
    color: #464277;
}

.scrum-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scrum-img{
    width: 300px;

}

.link-mtd{
    color: #FF6194;
    text-decoration: none;
}

.link-mtd:hover{
    color: rgb(243, 23, 93);
    text-decoration: none;
}
.bottom-bar{
    margin: 0 auto;
   margin: 80px 40px;
   width: 300px;
}

.bar-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ajust-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.scrum-image{
    width: 80%;
    
}

.sub-bar{
    margin: 25px 0 75px 0;
    width: 150px;
    height: 3px;
    background: #9D5FE5;
    margin: 0 auto;
}

ul li{
    margin-bottom: 5px;
}