div .home-wrapper{
    background-image: linear-gradient( to right, #2b077e 0%, #772FED 100%);
    height: 100vh;
}

.full-height{
    height: 75vh;
}
.flex-align-bottom-right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.flex-align-bottom-right img {
    width: 500px;
}

.text-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container h1, .text-container p {
    color: white;
    text-align: center;
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
    .flex-align-bottom-right img {
        width: 300px;
    }
}