.navbar-transparent:not(button) {
    background-color: transparent;
    z-index: 99;
    width: 100%;
}

.navbar > .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    border-bottom: 1px solid #04A1E6;
}

.navbar > .navbar-brand:hover{
    color: #fff;
}

.nav-link > i {
    font-size: 25px;
}

.nav-link, .navbar-brand{
    border-bottom: 1px solid transparent;
}

ul > .nav-item{
    padding-left: 20px;
}

div .navbar-brand{
    letter-spacing: 1px;
    font-size: 30px;
}

.logo{
    width: 40px;
    margin-right: 12px;
}